<a href="https://colab.research.google.com/github/k3lvin-os/2DPong_Brackeys_Tutorial/blob/master/Academia_QADS_05_07_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [22]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [27]:
# iniciar uma sessão local e importar dados do Airbnb
from pyspark.sql import SparkSession
sc = SparkSession.builder.master('local[*]').getOrCreate()

df_spark = sc.read.csv("/content/sample_data/california_housing_train.csv", inferSchema=True, header=True)

# ver algumas informações sobre os tipos de dados de cada coluna
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [33]:
from pyspark.sql.functions import col
df_spark.withColumn('total_de_quartos', col('total_rooms')).drop('total_rooms')

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double, total_de_quartos: double]

In [38]:
df_spark2 = df_spark.withColumn('total_de_quartos', col('total_rooms')).drop('total_rooms')

In [39]:
df_spark2.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)
 |-- total_de_quartos: double (nullable = true)

In [34]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [35]:
tupla = (1, 3, 4)

In [36]:
lista = [1, 2, 3, 4]

In [37]:
dicionario = {"altura": 1, "cor_dos_olhos": ""}

In [40]:
lista = [ [1,2,3], [3,2,1]]

In [41]:
lista

[[1, 2, 3], [3, 2, 1]]

In [42]:
lista.pop()

[3, 2, 1]

In [43]:
lista

[[1, 2, 3]]

In [ ]:
num = int(input('Digite um número'))

Digite um número3

In [ ]:
 x = 1

 for a in range(2, num + 1):
   x *= a

x

6

2432902008176640000

In [ ]:
import math
math.factorial(20)

2432902008176640000